
@{
    ViewBag.Title = "ChoosePaymentType";
}

<h2>Choose Payment Type</h2>

<p>How would you like to pay?</p>

@using (Html.BeginForm("PayPalPayment", "Checkout"))
{ 

    <button class="btn btn-primary">Paypal</button>
}

<hr />

@using (Html.BeginForm("ChargeView", "Checkout", FormMethod.Get))
{

    <button class="btn btn-primary">Card</button>
}